#top {
    display: flex;
}

#logo {
    flex: 2;
    height: 100px;
    width: 15%;
    background-color: red;
    text-align: center;
    line-height: 100px;
}

.menu {
    flex: 8;
    height: 100px;
    width: 75%;
    background-color: orange;
}

.menu div {
    border: 2px solid black;
    height: 95px;
    width: 20%;
}

.menu>#m1 {
    display: inline-block;
    background-color: yellow;
}

.menu>#m2 {
    display: inline-block;
    background-color: green;
}

.menu>#m3 {
    display: inline-block;
    background-color: blue;
}

.menu #m4 {
    display: inline-block;
    background-color: purple;
}

.body {
    display: flex;
    height: 500px;
    width: 100%;
    background-color: yellow;
}

.body>#main {
    flex: 8;
    height: 100%;
    width: 70%;
    background-color: green;
}

.body>#ad {
    flex: 2;
    height: 100%;
    width: 20%;
    background-color: greenyellow;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: aqua;
}

#footer>div {
    height: 95px;
    width: 49%;
    display: inline-block;
}

#footer>#left_menu {
    background-color: red;
}

#footer>#main_content {
    background-color: blue;
}