img {
    width: 100px;
    height: auto;
    display: block;
    padding: 5px;
    background-color: grey;
}

#id_6{
    width: 100px;
    height: auto;
    display: block;
    background-color: gold;
}
